
}
a:hover {
    background-color:#30E899;
}

#HOLA{position: absolute;
      top: 0px;
      left: 1000px;}

#contr{position: absolute;
    top: 200px;
    left: 1000px;}

#usuar{position: absolute;
    top:  100px;
    left: 1000px;}

*{
font-family: 'PT Serif', serif;
}

header { background-color:#F7F2AE;}

a{
text-decoration:none;
   color:#000;
    border-radius:19px;
}
a:hover {
    background-color:#30E899;
}
